body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* MAIN PAGE */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* vertical center */
  align-items: center;
}

/* HEADING */
.heading {
  margin-bottom: 20px;
}

/* CENTER BOX */
.center-box {
  width: 80%;
  max-width: 800px;
}

/* BIG TEXTAREA */
.textarea {
  width: 100%;
  height: 200px;
  font-size: 18px;
  padding: 10px;
}

/* CONTROLS ROW */
.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* LEFT */
.left {
  text-align: left;
}

.label {
  font-size: 12px;
  margin-bottom: 5px;
}

/* RIGHT */
.right {
  display: flex;
  gap: 10px;
}

/* OUTPUT */
.output {
  margin-top: 20px;
  text-align: center;
}